
/* Start Global Rules  */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
:root {
    --main-Color:#106eea;
    --section-Color:#f6f9fe;
    --main-Transition: all 0.3s linear;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #444;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.main-header h5 {
    background-color: #e7f1fd;
    width: fit-content;
    margin: auto;
    padding: 13px;
    border-radius: 40px;
    color: var(--main-Color);
    font-weight: bold;
}
.main-header h3 {
    text-transform: capitalize;
}
.main-header h3 span {
    color: var(--main-Color);
}
.main-header p {
    width: 450px;
    margin: auto;
}

/* End Global Rules  */

/* Start Top Bar  */
.top-bar {
    background-color: var(--main-Color);
    font-size: 14px;
}
.top-bar.active {
    display: none;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.top-bar .container {
    justify-content: space-between;
}
@media (max-width: 767px) {
    .top-bar .container {
        justify-content: center;
    }
}
.top-bar a {
    color: #fff;
    font-size: 14px;
}
.top-bar svg {
    color: #fff;
    font-size: 14px;
}
@media (max-width: 767px) {
    .top-bar .icons {
    display: none;
    }
}
.top-bar .icons svg {
    cursor: pointer;
    opacity: 0.8;
}
.top-bar .icons svg:hover {
    opacity: 1;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
/* End Top Bar  */
/* Start Header  */
.header {
    overflow: hidden;
}
.header.active {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0 , 0 , 0 , 0.7);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container .logo {
    color: #444;
}
.header.active .logo {
    color: #fff;
}
.header .container .logo span {
    color: var(--main-Color);
}
.header .burger-icon {
    display: none;
    cursor: pointer;
}
.header.active .burger-icon {
    color: #fff;
}
@media (max-width: 991px) {
    .header .burger-icon {
        display: flex;
    }
}
.header ul li {
    list-style: none;
}
.header ul {
    display: flex;
}
@media (max-width: 991px) {
    .header ul {
        display: none;
    }
}
.header .container ul li a {
    position: relative;
    color: #444;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.header.active .container ul li a {
    color: #fff;
}
.header .container ul li a:hover {
    color: var(--main-Color);
}
.header .container ul li a::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--main-Color);
}
.header .container ul li a:hover::after {
    width: 100%;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.header .container ul li a.active {
    color: var(--main-Color);
}
.header .container ul li a.active::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--main-Color);
}
.header-overly {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0 , 0 , 0.7);
    z-index: 1001;
    animation: hide 0.4s ease-in-out forwards;
    -webkit-animation: hide 0.4s ease-in-out forwards;
}
.header-overly ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 80%;
    height: 80%;
    border-radius: 4px;
    padding: 29px;
    list-style: none;
    animation: hide 0.7s ease-in-out forwards;
    animation: width 0.4s ease-in-out forwards;
    -webkit-animation: width 0.4s ease-in-out forwards;
}
.header-overly ul a {
    display: block;
    padding: 10px;
}
.header-overly ul li a {
    position: relative;
    color: #444;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.header.header-overly ul li a {
    color: #fff;
}
.header-overly ul li a:hover {
    color: var(--main-Color);
}
.header-overly ul li a::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: var(--main-Color);
}
.header-overly ul li a:hover::after {
    width: 100%;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.header-overly ul li a.active {
    color: var(--main-Color);
}
.header-overly ul a.active::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--main-Color);
}
.header-overly .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.header-overly .close-button:hover {
    color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
/* End Header  */
/* Start Landing */
.landing {
    position: relative;
    overflow: hidden;
}
.landing .slider-wrap {
    position: relative;
    overflow: hidden;
}
.landing .slider {
    display: flex;
    width: 600%;
}
.landing .slide {
    width: 100%;
    position: relative;
    background-size: cover;
    height: calc(100vh - 130px);
    animation: hide 0.4s linear;
    -webkit-animation: hide 0.4s linear;
}
.landing .slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}
.landing .slider-1 {
    background-image: url(../images/slider/hero-bg.jpg);
}
.landing .slider-2 {
    background-image: url(../images/slider/sldier-1.jpg);
}
.landing .slider-3 {
    background-image: url(../images/slider/sldier-2.jpg);
}
.landing .slider-4 {
    background-image: url(../images/slider/sldier-3.jpg);
}
.landing .slider-5 {
    background-image: url(../images/slider/sldier-4.jpg);
}
.landing .slider-6 {
    background-image: url(../images/slider/sldier-5.jpg);
}
.landing .slide .container {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.landing .slide .container h1 span {
    color: var(--main-Color);
}
.landing .landing-btn button {
    background: var(--main-Color);
    padding: 10px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.landing .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 3;
}
.landing .btn button {
    position: absolute;
    border: none;
    background: var(--main-Color);
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.landing .btn .next {
    right: 10px;
}
.landing .btn .prev {
    left: 10px;
}
/* End Landing */
/* Start Setting Box */
.setting-box {
    position: fixed;
    top: 80px;
    left: -250px;
    width: 250px;
    background-color: #fff;
    height: 100vh;
    z-index: 1000;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.setting-box.active {
    left: 0;
}
.setting-box .icon {
    position: absolute;
    top:30px;
    right: -35px;
    cursor: pointer;
    background-color: #fff;
    padding: 10px;
}
.setting-box .icon.active svg {
    animation: rounded 1s linear infinite;
    -webkit-animation: rounded 1s linear infinite;
}
.setting-box .option {
    margin: 15px;
    padding: 10px;
    background-color: #eee;
    text-align: center;
    text-transform: capitalize;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.setting-box .option ul {
    list-style: none;
}
.setting-box .color li {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    opacity: 0.4;
    margin: 0 3px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.setting-box .color li.active {
    opacity: 1;
    transform: var(--main-Transition);
    -webkit-transform: var(--main-Transition);
    -moz-transform: var(--main-Transition);
    -ms-transform: var(--main-Transition);
    -o-transform: var(--main-Transition);
}
.setting-box .color li:nth-child(1) {
    background-color: #106eea;
}
.setting-box .color li:nth-child(2) {
    background-color: #f44336;
}
.setting-box .color li:nth-child(3) {
    background-color: #e91e63;
}
.setting-box .color li:nth-child(4) {
    background-color: #ff9800;
}
.setting-box .color li:nth-child(5) {
    background-color: #ffeb3b;
}
.setting-box .theme li {
    display: inline-block;
    background: var(--main-Color);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    width: 48%;
    margin: 10px 0;
    opacity: .5;
}
.setting-box .theme li.active {
    opacity: 1;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.setting-box .random li {
    display: inline-block;
    background: var(--main-Color);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    width: 48%;
    margin: 10px 0;
    opacity: .5;
}
.setting-box .random li.active {
    opacity: 1;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.setting-box .bullets li {
    display: inline-block;
    background: var(--main-Color);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    width: 48%;
    margin: 10px 0;
    opacity: .5;
}
.setting-box .bullets li.active {
    opacity: 1;
}
.setting-box .reset button {
    width: 100%;
    padding: 7px;
    color: #fff;
    text-transform: capitalize;
    background: #eb1111;
    border-radius: 4px;
    border: none;
}
.setting-box .reset button:hover {
    opacity: 0.9;
}
/* End Setting Box */
/* Start Feature  */
.feature {
    overflow: hidden;
}
.feature .box {
    position: relative;
    box-shadow: 0 0 29px 0 rgb(68 88 144 / 12%);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.feature .box:hover {
    color: #fff;
}
.feature .box::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--main-Color);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.feature .box:hover::after {
    height: 100%;
    z-index: -1;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.feature .box svg {
    color: var(--main-Color);
}
.feature .box:hover svg {
    color: #fff;
}
/* End Feature  */
/* Start About  */
.about {
    overflow: hidden;
    background-color: var(--section-Color);
}
.about .box img {
    width: 100%;
}
.about .row .row svg {
    padding: 10px;
    color: var(--main-Color);
    box-shadow: 0 0 29px 0 rgb(68 88 144 / 12%);
}
/* End About  */
/* Start Skills  */
.skills {
    overflow: hidden;
}
.skills .num {
    color: var(--main-Color);
    font-weight: bold;
}
.skills .num::after {
    content: '%';
}
.skills .prog {
    width: 100%;
    height: 20px;
    background-color: var(--section-Color);
}
.skills .prog span {
    display: block;
    height: 100%;
    width: 0;
    transition: var(--main-Transition);
    background-color: var(--main-Color);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
/* End Skills  */
/* Start State  */
.state {
    overflow: hidden;
}
.state .box {
    position: relative;
    background-color: var(--section-Color);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.state .box svg {
    background-color: var(--main-Color);
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.state .num {
    /* position: absolute;
    left: 50%; */
    color: #062b5b;
    font-weight: bold;
}
/* End State  */
/* Start Client  */
.client {
    overflow: hidden;
    background-color: var(--section-Color);
}
.client .box img {
    max-width: 40%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.client .box:hover img {
    transform: scale(1.1);
    filter: grayscale(10%);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-filter: grayscale(10%);
}
/* End Client  */
/* Start Services */
.services {
    overflow: hidden;
}
.services .box {
    border: 1px solid #e2eefd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.services .box:hover {
    box-shadow: 0px 0 30px 0 rgb(16 110 234 / 10%);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.services .box svg {
    border: 1px solid var(--section-Color);
    padding: 15px;
    background-color: var(--section-Color);
    color: var(--main-Color);
    border-radius: 4px;
}
.services .box:hover svg {
    border-color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.services .box:hover h4 {
    color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
/* End Services */
/* Start Testimonlis */
.testimonlis {
    overflow: hidden;
}
.testimonlis .slider-wrap {
    position: relative;
    overflow: hidden;
}
.testimonlis .slider-wrap .slider {
    display: flex;
    width: 400%;
}
.testimonlis .slide {
    width: 100%;
    position: relative;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonlis .slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/pattern.png) rgba(0 , 0 , 0 , 0.7) no-repeat;
}
.testimonlis .slide .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 1;
    animation: hide 0.4s ease-in-out forwards;
    -webkit-animation: hide 0.4s ease-in-out forwards;
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
.testimonlis .slider-1 {
    background-image: url(../images/testimonials/testimonlias-bg.avif);
}
.testimonlis .slider-2 {
    background-image: url(../images/testimonials/testimonlias-bg-2.avif);
}
.testimonlis .slider-3 {
    background-image: url(../images/testimonials/testimonlias-bg-3.avif);
}
.testimonlis .slider-4 {
    background-image: url(../images/testimonials/testimonlias-bg-4.avif);
}
.testimonlis img {
    width: 150px;
    height: 150px;
    border: 6px solid rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.testimonlis .text {
    width: 500px;
    margin: auto;
}
@media (max-width: 991px) {
    .testimonlis .text {
        width: 100%;
    }
}
.testimonlis .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: 1;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
.testimonlis .btn button {
    position: absolute;
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.15);
}
.testimonlis .btn button:hover {
    color: #fff;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.testimonlis .btn .prev {
    left: 5px;
}
.testimonlis .btn .next {
    right: 5px;
}
/* End Testimonlis */
/* Start Portfolio  */
.portfolio {
    overflow: hidden;
}
.portfolio li {
    position: relative;
    list-style: none;
    cursor: pointer;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
    margin: 0 2px;
    opacity: 0.7;
}
.portfolio li.active {
    background-color: var(--main-Color);
    opacity: 1;
    color: #fff;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
.portfolio li:Hover {
    background-color: var(--main-Color);
    opacity: 1;
    color: #fff;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
.portfolio li.active::after {
    width: 100%;
}
.portfolio .row > div {
    animation: hide 0.4s ease-in-out forwards;
    -webkit-animation: hide 0.4s ease-in-out forwards;
}
.portfolio .box img {
    width: 100%;
    cursor: pointer;
}
.overly-box {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1001;
    animation: hide 0.5s ease-in-out forwards;
    -webkit-animation: hide 0.5s ease-in-out forwards;
}
.overly-box .slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    animation: hide 0.3s ease-in-out forwards;
    -webkit-animation: hide 0.3s ease-in-out forwards;
}
.overly-box .close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.overly-box .close-button:hover {
    color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.overly-box img {
    width: 100%;
}
/* End Portfolio  */
/* Start Team  */
.team {
    overflow: hidden;
    background-color: var(--section-Color);
}
.team .box {
    position: relative;
    box-shadow: 0 0 29px 0 rgb(68 88 144 / 12%);
}
.team .box img {
    width: 100%;
}
.team .box .overly {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 100%;
    text-align: center;
    bottom: 150px;
    opacity: 0;
}
.team .box:hover .overly {
    opacity: 1;
    bottom: 100px;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.team .box .overly svg {
    background-color: var(--main-Color);
    color: #fff;
    border-radius: 4px;
}
.team .box .info {
    background: #fff;
    padding: 11px;
}
/* End Team  */
/* Start Pricing  */
.pricing {
    overflow: hidden;
}
.pricing .price {
    color: var(--main-Color);
}
.pricing li {
    list-style: none;
}
.pricing .box {
    overflow: hidden;
    position: relative;
    border: 1px solid #f8f8f8 ;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.pricing .box .foot button {
    background: var(--main-Color);
    padding: 10px;
    color: #fff;
    font-weight: bold;
    width: 129px;
    border: none;
    border-radius: 4px;
}
.pricing .box.active .head {
    background-color: var(--main-Color);
    color: #fff;
}
.pricing .box .adv {
    position: absolute;
    top: 14px;
    right: -21px;
    background: var(--main-Color);
    color: #fff;
    padding: 5px;
    width: 115px;
    transform: rotate(44deg);
    -webkit-transform: rotate(44deg);
    -moz-transform: rotate(44deg);
    -ms-transform: rotate(44deg);
    -o-transform: rotate(44deg);
}
/* End Pricing  */
/* Start Contact  */
.contact {
    overflow: hidden;
    background-color: var(--section-Color);
}
.contact svg {
    color: var(--main-Color);
    border: 1px dotted;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.contact .con  {
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.contact iframe {
    width: 100%;
}
.contact .active {
    width: 45%;
    margin: 0 5px;
}
.contact .box {
    width: 100%;
}
.contact form {
    width: 100%;
}
.contact form input {
    padding: 10px;
    margin: 10px 0;
}
.contact form input:focus {
    outline-color: var(--main-Color);
}
.contact form input[name="name"],
.contact form input[name="mail"] {
    width: 49%;
}
.contact form input[name="sub"],
.contact form input[name="msg"],
.contact form input[name="send"] {
    width: 99%;
}
.contact form input[name="send"] {
    background-color: var(--main-Color);
    color: #fff;
    border: none;
}
/* End Contact  */
/* Start Footer  */
.footer {
    overflow: hidden;
}
.footer .container .logo {
    color: #444;
}
.footer .container .logo span {
    color: var(--main-Color);
}
.footer ul li {
    list-style: none;
    display: flex;
    align-items: center;
}
.footer ul li svg {
    color: var(--main-Color);
}
.footer ul li a {
    color: #444;
    display: flex;
}
.footer ul li:hover a {
    color: var(--main-Color);
    transform: translateX(10px);
    transition: var(--main-Transition);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.footer .icons svg {
    background: var(--main-Color);
    color: #fff;
    border-radius: 4px;
}
.copy {
    background-color: var(--section-Color);
}
/* End Footer  */
span.up {
    position: fixed;
    bottom: 200px;
    right: 30px;
    background-color: var(--main-Color);
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
span.up.active {
    opacity: 1;
    bottom: 30px;
}
.bullet {
    position: fixed;
    top: 50%;
    right: -100px;
    z-index: 100;
    text-transform: capitalize;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    opacity: 0;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.bullet.active {
    opacity: 1;
    right: 20px;
    transition: var(--main-Transition);
    animation: bullet 0.8s ease-in-out backwards;
    -webkit-animation: bullet 0.8s ease-in-out backwards;
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.bullet span::after {
    border-radius: 4px;
    padding: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.bullet span {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 5px solid var(--main-Color);
    margin: 10px 0;
    cursor: pointer;
}
.bullet span:hover {
    background-color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.bullet span:nth-child(1)::after {
    content: "Home";
    position: absolute;
    left: -70px;
    top: -7px;
    background: var(--main-Color);
    padding: 4px;
    color: #fff;
    display: none;
}
.bullet span:nth-child(1)::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -17px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent var(--main-Color);
    z-index: 1;
    display: none;
}
.bullet span:nth-child(2)::after {
    content: "about";
    position: absolute;
    left: -68px;
    top: -7px;
    background: var(--main-Color);
    padding: 4px;
    color: #fff;
    display: none;
}
.bullet span:nth-child(2)::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -17px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent var(--main-Color);
    z-index: 1;
    display: none;
}
.bullet span:nth-child(3)::after {
    content: "services";
    position: absolute;
    left: -85px;
    top: -7px;
    background: var(--main-Color);
    padding: 4px;
    color: #fff;
    display: none;
}
.bullet span:nth-child(3)::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -17px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent var(--main-Color);
    z-index: 1;
    display: none;
}
.bullet span:nth-child(4)::after {
    content: "portfolio";
    position: absolute;
    left: -85px;
    top: -7px;
    background: var(--main-Color);
    padding: 4px;
    color: #fff;
    display: none;
}
.bullet span:nth-child(4)::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -17px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent var(--main-Color);
    z-index: 1;
    display: none;
}
.bullet span:nth-child(5)::after {
    content: "team";
    position: absolute;
    left: -65px;
    top: -7px;
    background: var(--main-Color);
    padding: 4px;
    color: #fff;
    display: none;
}
.bullet span:nth-child(5)::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -17px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent var(--main-Color);
    z-index: 1;
    display: none;
}
.bullet span:nth-child(6)::after {
    content: "contact";
    position: absolute;
    left: -80px;
    top: -7px;
    background: var(--main-Color);
    padding: 4px;
    color: #fff;
    display: none;
}
.bullet span:nth-child(6)::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -17px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent var(--main-Color);
    z-index: 1;
    display: none;
}
.bullet span:hover::after,
.bullet span:hover::before {
    display: block;
}
.bullet span.active {
    background-color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.bullet span.active::after,
.bullet span.active::before {
    display: block;
}
/* Start Animation  */
@keyframes bullet {
    100% {
        right: 20px;
    }
}
@keyframes hide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes width {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}
@keyframes rounded {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}
/* End Animation  */